

body {
  color: black;
  font: arial, helvetica;
  font size: 10px;
  background-color: white;
  margin: 1;

}

img {width: 100%;
  max-width: 1500px;}

.andyBox {
  padding-top: 15;
  padding-bottom: 150;
  width: 300px;
  align: center;
}

nav {
  padding-right: 15;
  background-color: black;
  color: white;

}

nav a {
  color: white;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 5px;
}

h3 {
  margin: 0;
}

p {
  margin: 5px;
}

footer {
  padding: 10px;
  text-align: center;
  background-color: black;
  color: white;
}
